---

- name: generate PostgreSQL config
  template:
    src: "{{ item }}"
    dest: /etc/postgresql/{{ postgresql_version }}/main/{{ item }}
  notify: restart postgresql
  with_items:
    - postgresql.conf
    - pg_hba.conf
