description  "Run app discovery jar"

start on runlevel [2345]
stop on runlevel [!2345]

# automatically restart if it crashes
respawn

console log

script
    exec /usr/bin/java {% if api_server_remote_debug_enabled %}-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address={{ api_server_remote_debug_port }} {% endif %}\
                       -jar {{ api_server_deploy_path }}
end script
