---

- name: create parent dir to deploy jar
  file:
    path: "{{ api_server_deploy_dir }}"
    state: directory

- name: deploy jar
  copy:
    src: "{{ api_server_local_build_path }}"
    dest: "{{ api_server_deploy_path }}"
  notify: restart appdiscovery
  when: api_server_use_local_build

- name: generate upstart config to run app jar
  template:
    src: app-discovery-server.conf.j2
    dest: /etc/init/app-discovery-server.conf
  notify: restart appdiscovery

- name: create config directory
  file:
    path: "{{ api_server_config_dir }}"
    state: directory
    mode: 0755

- name: generate app config
  template:
    src: override.yml.j2
    dest: "{{ api_server_config_path }}"
  notify: restart appdiscovery

- name: add db for app discovery server
  become_user: postgres
  delegate_to: "{{ groups['db']|first }}"
  postgresql_db:
    name: "{{ api_server_db }}"
    state: present

- name: add db user for app discovery server
  become_user: postgres
  delegate_to: "{{ groups['db']|first }}"
  postgresql_user:
    name: "{{ api_server_db_user }}"
    password: "{{ api_server_db_password }}"
    db: "{{ api_server_db }}"
    state: present
